<!DOCTYPE html>
<html lang="en">
<head class="fade-in">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to BU Scheduler</title>
    <link rel="stylesheet" href="styling.css">
    <script src="./Loading Screen 1/LoadingScreen1.js"></script>
</head>
<body class="fade-in">
    <div class="container">
        <p class="welcome-text"> <b>Welcome To The</b></p>
        <div class="logo">
            <img src="download.png" alt="BU Logo">
        </div>
        <p class="welcome-text2"><b>Schedule Optimizer</b></p>
        <button onclick= "functionLoading()" class="button">Configure My Schedule</button>
        
    </div>
</body>
</html>